html {}

body {}

ul {
list-style-type: none;
}

a {
text-align: center;
}

#message-1 {
font-size: 35px;
padding-bottom: 15px;
}

#message-2 {
font-size: 20px;
padding-bottom: 7.5px;
}

#socials {
colors: white;
padding-top: 430px;
font-size: 24px;
}

#top-nav {
padding-top: 60px;
}

.fa {
padding: 10px;
font-size: 16px;
width: 8px;
text-decoration: none;
margin: 1px 1px;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
color: white;
}

.fa-twitter {
color: white;
}

.fa-google {
color: white;
}

.fa-linkedin {
color: white;
}

.fa-youtube {
color: white;
}

.fa-instagram {
color: white;
}

.fa-flickr {
color: white;
}

.fa-yahoo {
color: white;
}

li {
display: inline;
padding-left: 10px;
padding-right: 10px;
padding-top: 0px;
color: #B2E3D1;
text-align: center;
text-shadow: 1px 2px black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top-nav {
color: white;
text-align: right;
font-size: 22px;
padding-top: 4px;
padding-right: 28px;
}

.main-image {
background-image: url("landing.jpg");
background-color: #eee;
height: 700px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.main-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
margin: 0;
font-family: 'Abril Fatface', cursive;
font-weight: 200;
text-shadow: 2px 2px #0D5E5C;
}

.box1 {
opacity: 0.9;
filter: Alpha(opacity=50);
/* IE8 and earlier */
border-radius: 1%;
border-color: #E9E9AA;
border-style: solid;
border-width: 1px;
padding-left: 90px;
padding-right: 90px;
padding-top: 100px;
padding-bottom: 100px;
}


/**Mobile Sm**/

@media (min-width: 320px) {
#top-nav {
padding-left: 4px;
font-size: 12px;
}
#socials {
colors: white;
padding-top: 440px;
padding-left: 4px;
font-size: 17px;
}
.box1 {
opacity: 0.9;
filter: Alpha(opacity=50);
/* IE8 and earlier */
border-radius: 1%;
border-color: #E9E9AA;
border-style: solid;
border-width: 1px;
padding-left: 40px;
padding-right: 40px;
padding-top: 100px;
padding-bottom: 100px;
}
}


/**Mobile M**/

@media (min-width: 375px) {
#top-nav {
padding-left: 8px;
font-size: 16px;
}
#socials {
colors: white;
padding-top: 420px;
padding-left: 4px;
font-size: 22px;
}
.box1 {
opacity: 0.9;
filter: Alpha(opacity=50);
/* IE8 and earlier */
border-radius: 1%;
border-color: #E9E9AA;
border-style: solid;
border-width: 1px;
padding-left: 76px;
padding-right: 76px;
padding-top: 100px;
padding-bottom: 100px;
}
/**Mobile Lrg**/
@media (min-width: 425px) {
#top-nav {
padding-left: 30px;
font-size: 16px;
}
#socials {
colors: white;
padding-top: 440px;
padding-left: 4px;
font-size: 18px;
}
.box1 {
opacity: 0.9;
filter: Alpha(opacity=50);
/* IE8 and earlier */
border-radius: 1%;
border-color: #E9E9AA;
border-style: solid;
border-width: 1px;
padding-left: 86px;
padding-right: 86px;
padding-top: 100px;
padding-bottom: 100px;
}
}
/**Tablet**/
@media (min-width: 768px) {
#top-nav {
padding-left: 200px;
font-size: 16px;
}
#socials {
colors: white;
padding-top: 440px;
padding-left: 108px;
font-size: 30px;
}
.box1 {
opacity: 0.9;
filter: Alpha(opacity=50);
/* IE8 and earlier */
border-radius: 1%;
border-color: #E9E9AA;
border-style: solid;
border-width: 1px;
padding-left: 220px;
padding-right: 220px;
padding-top: 100px;
padding-bottom: 100px;
}
/**Laptop**/
@media (min-width: 1024px) {
#top-nav {
padding-left: 300px;
font-size: 22px;
}
#socials {
colors: white;
padding-top: 440px;
padding-left: 230px;
font-size: 35px;
}
.box1 {
opacity: 0.9;
filter: Alpha(opacity=50);
/* IE8 and earlier */
border-radius: 1%;
border-color: #E9E9AA;
border-style: solid;
border-width: 1px;
padding-left: 320px;
padding-right: 320px;
padding-top: 100px;
padding-bottom: 100px;
}
/**Laptop**/
@media (min-width: 1440px) {
#top-nav {
    padding-left: 510px;
    font-size: 22px;
}
#socials {
    colors: white;
    padding-top: 420px;
    padding-left: 450px;
    font-size: 35px;
}
.box1 {
    opacity: 0.9;
    filter: Alpha(opacity=50);
    /* IE8 and earlier */
    border-radius: 1%;
    border-color: #E9E9AA;
    border-style: solid;
    border-width: 1px;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 100px;
    padding-bottom: 100px;
}
/**4K**/
@media (min-width: 2560px) {
    #top-nav {
        padding-left: 1060px;
        font-size: 24px;
    }
    #socials {
        colors: white;
        padding-top: 420px;
        padding-left: 1010px;
        font-size: 35px;
    }
    .box1 {
        opacity: 0.9;
        filter: Alpha(opacity=50);
        /* IE8 and earlier */
        border-radius: 1%;
        border-color: #E9E9AA;
        border-style: solid;
        border-width: 1px;
        padding-left: 620px;
        padding-right: 620px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
